@import 'variables';
@import 'breakpoints';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    color: #100A30;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

hr {
    opacity: 0.5;
}

::placeholder {
    color: #555;
}

/*all buttons&inputs in modal window*/
.modal .modal-dialog .modal-content .modal-footer {
    input {
        outline: none;
        border: none;
        background-color: $purple;
        color: $white;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
    }
}

/*wrapper - all*/
.wrapper-content {
    max-width: 100%;
    margin: 0 auto;
}

/*section*/
.section_order-inner {
    display: flex;

    &_block {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: 93.7rem;
        padding: 4rem 3rem 4rem 3rem;
        border-radius: 2rem;

        &-title {
            font-size: 20px;
        }

        &-item {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background-color: #f2f2f2;
            box-shadow: 0 0 5px grey;
            margin-top: 6rem;
            padding: 1rem 6rem;
            border-radius: 2rem;

            &-action-delete {
                position: absolute;
                right: 1rem;
                top: 1rem;

                a img {
                    width: 1.3rem;
                }
            }

            &-action-edit {
                position: absolute;
                right: 1rem;
                bottom: 1rem;

                a img {
                    width: 1.5rem;
                }

                .modal .modal-dialog .modal-content .modal-body {
                    &-input {
                        input[type="file"] {
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 1.7rem 2rem;
                            margin: 1rem 0;
                            font-size: 16px;
                            color: #fff;
                            background-color: $purple;
                        }

                        input {
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 1.2rem 2rem;
                            margin: 1rem 0;
                            background-color: #ededed;
                        }

                        select {
                            width: 100%;
                            border: none;
                            outline: none;
                            padding: 1.2rem 2rem;
                            margin: 1rem 0;
                            background-color: #ededed;
                        }
                    }
                }
            }


            /*order*/
            &-order {
                display: flex;
                flex-wrap: wrap;

                &-user {
                    display: flex;
                    align-items: center;
                    border-right: 2px solid #bfbfbf;

                    &-img {
                        img {
                            width: 9rem;
                            border-radius: 50%;
                        }
                    }

                    &-text {
                        margin-left: 1rem;

                        &-top {
                            display: flex;
                            flex-wrap: wrap;

                            p {
                                margin: 0.5rem 2rem;
                            }
                        }

                        &-bottom {
                            display: flex;
                            flex-wrap: wrap;

                            p {
                                margin: 0.5rem 2rem;
                            }
                        }
                    }
                }

                &-tovar {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 50rem;
                    margin-left: 1rem;
                    border-right: 2px solid #bfbfbf;

                    &-top {
                        display: flex;

                        a {
                            color: #000;
                            margin: 0.5rem 2rem;
                            text-decoration: underline;

                            &:hover {
                                color: #000;
                            }
                        }

                        /*modal-window-cart-product*/
                        .modal .modal-dialog .modal-content .modal-body .card-tovar {

                            &-item {
                                display: flex;

                                &-image {
                                    img {
                                        width: 40rem;
                                        height: 45rem;
                                    }
                                }

                                &-details {
                                    margin-left: 2rem;

                                    .title {
                                        font-weight: bold;
                                        margin-bottom: -0.3rem;
                                    }

                                    .article {
                                        color: #555;
                                        font-size: 14px;
                                    }

                                    .price {
                                        font-size: 23px;
                                        font-weight: bold;
                                        margin-top: 2rem;
                                    }

                                    .two-title {
                                        margin-top: 2rem;
                                        margin-bottom: 2rem;
                                    }

                                    .color {
                                        span {
                                            margin-left: 0.5rem;
                                            padding: 0.5rem 1.3rem;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-bottom {
                        display: flex;

                        p {
                            margin: 0.5rem 2rem;
                        }
                    }
                }

                &-detail {

                    min-width: 20rem;
                    margin-left: 1rem;

                    &-top {
                        display: flex;

                        p {
                            margin: 0.5rem 2rem;
                        }
                    }

                    &-bottom {
                        display: flex;

                        p {
                            margin: 0.5rem 2rem;
                        }
                    }

                    &-status {
                        display: flex;

                        p {
                            width: 100%;
                            margin: 0.5rem 2rem;
                            background-color: $purple;
                            padding: 0.2rem 0;
                            text-align: center;
                            color: $white;
                            border-radius: 2rem;
                        }
                    }
                }

                &-action-delete {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;

                    a img {
                        width: 1.3rem;
                    }
                }
            }

            &-block-date {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: -4.2rem;
                right: 0;


                &-line {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    p {
                        b {
                            margin: 0 1.5rem;
                        }

                        img {
                            width: 3rem;
                        }
                    }
                }
            }
        }
    }
}